@import url('https://fonts.cdnfonts.com/css/tiny-box');
:root{
    --text-size: 14px;
    --pixel-size: 2px;
    --tile: calc(var(--pixel-size) * 16);
    --bg: #9fa7e4;
}

@font-face {
    font-family: Kenney_Pixel_Square;
    src: url(../fonts/Kenney_Pixel_Square.ttf);
}
@media(min-width: 700px){
    :root{
        --pixel-size: 3px;
        --text-size: 15px;
    }
    #cursor{
        display: block;
    }
}

@media(min-width: 1000px){
    :root{
        --pixel-size: 5px;
        --text-size: 20px;
    }
}

@media(min-width: 1400px){
    :root{
        --pixel-size: 6px;
        --text-size: 24px;
    }
}

*{
    cursor: none;
}

html,body{
    height: 100%;
    font-family: 'Kenney_Pixel_Square', sans-serif;
}

body{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.pixel{
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

#cursor{
    top: 2%;
    left: 1%;
    width: calc( var(--tile) * 0.5);
    height: calc(var(--tile) * 0.5);
    position: absolute;
    z-index: 3;
    display: block;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (pointer:none), (pointer:coarse) {
    #cursor{
        display: none !important;
    }
}

.world{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
}

.camera{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #07788F;
}

#world-map{
    background-image: url("../images/All_islands.png");
    background-size: 100%;
    /* width: calc(18.5 * var(--tile)); */
    /* height: calc(20.5 * var(--tile)); */
    width: calc(61.66 * var(--tile));
    height: calc(68.33 * var(--tile));
    position: relative;
}

 /* #environment div{
    background-color: rgba(255, 0, 0, 0.5);
    
}

#environment span{
    background-color: rgba(0, 255, 0, 0.5);
}

#environment p{
    background-color: rgba(0, 0, 255, 0.5);
}  */

.npc{
    width: calc( var(--tile)* 2 );
    height: calc( var(--tile)* 2 );
    position: absolute;
    overflow:hidden;
    z-index: 1;
}

.npc_spritesheet {
    position: absolute;
    width: calc( var(--tile)* 8 );
    height: calc( var(--tile)* 8 );
    animation: player_animation 0.6s steps(4) infinite; 
}

.npc_collider{
    /* background-color: yellow; */
    top: calc(var(--tile) * .5);
    left: calc(var(--tile) * 0.45);
    height: calc(var(--tile) * 1.2);
    width: var(--tile);
    position: absolute;
}

.npc_interact_place_1{
    position: absolute; 
    width: calc(var(--tile) * 3); 
    height: calc(var(--tile) * 1.5); 
    bottom: calc(var(--tile) * -2.5); 
    right: calc(var(--tile)  * -2.5);
    /* background-color: red; */
}


.player{
    width: calc( var(--tile)* 2 );
    height: calc( var(--tile)* 2 );
    position: absolute;
    overflow:hidden;
    z-index: 2;
}

.shadow {
    width: calc( var(--tile)* 2 );
    height: calc( var(--tile)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("../images/shadow.png") no-repeat no-repeat;
    background-size: 100%;
}

.glass{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.toastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    position: fixed;
    top: -150px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    z-index: 20;
  }
  
  .toastify.on { opacity: 1; }

.player_spritesheet {
    position: absolute;
    background: url("../images/characters/carrot.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--tile)* 8 );
    height: calc( var(--tile)* 8 );
    animation: player_animation 0.6s steps(4) infinite; 
}

.player[facing="left_idle"] .player_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
}
.player[facing="right_walk"] .player_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
}
.player[facing="left_walk"] .player_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
}

@keyframes player_animation {
    from {
        transform: translate3d(0%,0%,0);
    }
    to {
        transform: translate3d(-100%,0%,0);
    }
}

#colllider{
    width: calc( var(--tile)* 1.2 );
    height: calc( var(--tile)* 2 );
    background-color: black;
}
#playerColliderRadar{
    width: calc(100% - 40%);
    height: calc(100% - 45%);
    /*border-radius: 100%;*/
    /* background-color: red; */
    position: absolute;
    left: calc(var(--tile) / 2.6);
    bottom: 0;
}
#playerColliderTop{
    width: calc( var(--tile)/ 1.4 );
    height: 10px;
    position: absolute;
    top: 50%;
    left: 31.5%;
    /* background-color: greenyellow; */
}
#playerColliderBottom{
    width: calc( var(--tile)/ 1.4);
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 31.5%;
    /* background-color: blue; */
}
#playerColliderLeft{
    width: 10px;
    height: calc(var(--tile)/ 1.3);
    position: absolute;
    /* background-color: green; */
    left: 25%;
    bottom: 5%;
}
#playerColliderRight{
    width: 10px;
    height: calc(var(--tile)/ 1.3);
    position: absolute;
    /* background-color: salmon; */
    right: 25%;
    bottom: 5%;
}

#environment{
    width: 100%;
    height: 100%;
    position: absolute;
}

#uiDialogueContainer{
    padding: calc(var(--tile) * 0.15);
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: calc(var(--tile) * 1.5);
    z-index: 2;
}
#DialogueImage{
    width: calc( var(--tile) * 1.5 );
    height: 100%;
}
#DialogueImage img{
    width: 100%;
    height: 100%;
}
#DialogueText{
    flex: 1 1 0%;
    /* background: red; */
    font-size: var(--text-size);
    margin-right: calc(var(--tile) * 0.25);
    margin-left: calc(var(--tile) * 0.15);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#speakerName{
    width: 100%;
    display: flex;
    font-weight: bold;
}
#speakerDialogue{
    background: #000;
    color: #fff; 
    flex:1 1 0%;
    height: 100%;

    padding: 10px;
    /* background-color: red; */
    font-size: calc(var(--text-size) - 8px);
    overflow: hidden;
}

#DialogueBottomArrow{
    font-family: 'Tiny Box BlackBitA8', sans-serif;
    font-size: calc(var(--text-size) - 8px);
    text-align: right;
}

#AButton{
    font-family: 'Tiny Box BlackBitA8', sans-serif;
    position: absolute;
    right: 3%;
    bottom: calc(var(--pixel-size) * 40);
    width: calc( var(--tile) * 0.8);
    height: calc(var(--tile) * 0.8);
    background: url("../images/buttont.png") no-repeat no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: calc(var(--text-size));
    line-height: calc(var(--tile) * 0.8);
}

#musicButton{
    font-family: 'Tiny Box BlackBitA8', sans-serif;
    position: absolute;
    right: 3%;
    top: 10%;
    width: calc( var(--tile) * 0.8);
    height: calc(var(--tile) * 0.8);
    background: url("../images/buttont.png") no-repeat no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: calc(var(--text-size));
    line-height: calc(var(--tile) * 0.8);
}

#joyControllerContainer{
    width: calc( var(--tile) * 1.65 );
    height: calc(var(--tile) * 1.65);
    position: absolute;
    right: 3%;
    bottom: 3%;
}
#joyController{
    position: absolute;
    top: calc(var(--tile) / 2.4);
    left: calc(var(--tile) / 2.4);
}
#joyControllerStickImage{
    width: calc( var(--tile) * 0.8);
    height: calc(var(--tile) * 0.8);
}

.visible{
    animation: movein 0.5s ease forwards;
}
.invisible{
    animation:  moveout 1s ease forwards;
}

#notify{
    color: red;
    padding: calc(var(--tile) * 0.15);
    position: absolute;
    right: calc(var(--tile) * -5);
    top: calc(var(--tile) * .2);
    font-size: calc(var(--text-size));
    font-weight: bold;
    border: solid red calc(var(--tile) * 0.05);

    background-color: white;
}


@keyframes movein{
    from { right: calc(var(--tile) * -10); }
    to   { right: 0; }
}

@keyframes moveout{
    from { right: 0; }
    to   { right: calc(var(--tile) * -10); }
}
.projectInfo::first-letter{
    font-size: 20px;
    font-weight: 800;
}

.projectButton{
    background-color: #222034;
}

.projectButton:hover{
    background-color: #9fa7e4;
}

.projectorBody{
    display: flex;
    flex-direction: row;
}

.smallDisplayOff{
    display: block;
}

.smallDisplayOn{
    display: none;
}

@media screen and (max-width: 600px) {
    .projectorBody{
        flex-direction: column;
    }
    .smallDisplayOff{
        display: none;
    }
    .smallDisplayOn{
        display: block;
    }
}

.musicPlayImage{
    width: calc(var(--pixel-size) * 10 );
    margin-top: calc(var(--pixel-size) * 2 );
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}